.revenu{
    border: 1px solid blue;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    /* background-color: red; */
}
.affciher-revenu{
    border: 1px solid rgb(236, 234, 229);
    width: 65vw;
    margin-left: 10%;
    margin-top: 2%;
}
.revenu-header{
    border: 1px solid black;
    width: 100vw;
    height: 10vh;
    margin-left: 10%;
    margin-top: 0%;
    
}
.contenue-header-revenue{
    margin: 50%;
    margin-top: 30%;
}
.titre-revenue{
    font-size: 0.5em;
}
.tableau-revenu{
    /* border: 1px solid green; */
    width: 88vw;
    height: 80vh;
    margin-left: 10%;
    margin-top: 2%;
    text-align: center;
}
.affiher-tableau-revenu{
    border-bottom: 1px solid rgb(228, 218, 218);
    width: auto;
    height: 65vh;
    overflow: auto;
}
.total-revenue{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
@media (max-width: 992px){
    .titre-revenue{
        border: 1px solid blue;
        font-size: 0.6em;
        text-align: center;
    }
}
@media (max-width: 768px){
    .affciher-revenu{
        border: 1px solid orange;
        width: 76vw;
        margin: 20%;
        margin-top: 0;
    }
    .revenu-header{
        border: 1px solid black;
        width: 100vw;
        height: 50vh;
        margin-left: 20%;
        background: none;     
    }
    .titre-revenue{
        font-size: 0.5em;
        text-align: center;
    }
}