.remboursement-affichage{
    /* border: 1px solid blue; */
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-left: -15%;
}
.afficher-remboursement{
    /* border: 1px solid red; */
    width: 100%;
    height: 90vh;
    margin-top: 5%;
}
.donnnees-afficher{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 37vh;
    margin: 15px;
    /* box-shadow: 5px 10px 18px #888888; */
    padding: 20px;
    /* background-image: linear-gradient(to bottom, white, rgb(212, 212, 212)); */
}
.afficher-remboursement{
    display: flex;
    flex-direction: column;
}
.tous-affichage-remboursement{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    overflow: auto;
}
.actions-buttons-remboursement{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.entete-remboursement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input-valid-button{
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 768px){
    .remboursement-affichage{
        /* border: 1px solid red; */
        width: 75vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        margin-left: -4%;
    }
    .entete-remboursement{
        display: flex;
        flex-direction: column;
    }
    .input-valid-button{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 6px;
    }
    .input-valid-button button{
        margin-top: 10px;
    }
}