.remboursement{
    /* border: 1px solid blue; */
    width: 65vw;
    height: 40vh;
}
.remboursement-contenue{
    /* border: 1px solid red; */
    width: 100%;
    /* height: 50vh; */
    margin-top: 10%;
}
.rembousementPassager{
    border: 1px solid gray;
    height: 40vh;
}
@media (max-width: 991px){
    .remboursement-contenue{
        margin-top: 25%;
    }
}