.navbar{
    background-color: #800000;
    box-shadow: 5px 5px 10px darkgray;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.me-auto .menu-item{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    margin: 10px;
}
.me-auto .menu-item:is(:link, :active, :visited){
    color: white;
  }
  
.me-auto .menu-item:is(:link, :active, :visited).active{
    color: blue;
    background-color: white;
    box-shadow: 8px 8px 8px darkgray;
    border-radius: 8%;
    padding: 4px;
  }