body{
    position: relative;
    left: 28%;
    margin-top: 15%;
    width: 515px;
    height: auto;
}
.tous{
    /* border: 1px solid blue; */
    width: 100%;
    position: fixed;
    left: 0;
    height: 100%;
}
.login-formulaire{
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25vw;
    position: fixed;
    left: 35%;
    top: 20%;
    box-shadow: 5px 10px 18px #e7e2e2;
    padding: 20px;
    background-color: rgb(255, 254, 253);
}
.login-formulaire .login-input{
    margin: 10px;
}
.button-login{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.roule{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.load{
    border: 3px solid  black;
    width: 20px;
    border-radius: 50%;
    border-color:  #800000;
    animation: rotation 1.5s linear 4.5;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}
@media (max-width: 992px){
    .login-formulaire{
        width: 300px;
        position: fixed;
        left: 18%;
    }
}