body{
    position: relative;
    left: 28%;
    margin-top: 15%;
    width: 515px;
    height: auto;
}
.tous{
    /* border: 1px solid blue; */
    width: 100%;
    position: fixed;
    left: 0;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-image: url(/src/images/ap1697889540);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.logo{
    margin-top: 10%;
    margin-left: 26%;
}
.login{
    /* border: 1px solid red; */
    width: 30%;
    height: 50%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
}
.bouton-login{
    width: 83%;
    display: flex;
    flex-direction: column;
}
.bouton-login #boutonLog{
    margin-left: 22%;
}
#boutonLog{
    margin: 6%;
}
@media (max-width: 991px){
    .tous{
        display: flex;
        flex-direction: column;
        background-image: none;
    }
    .logo{
        
        width: 50%;
    }
    .logo #img{
        height: 150px;
        width: 200px;
    }
    .login{
        /* border: 1px solid red; */
        margin-top: 2%;
        margin-left: 25%;
        width: 50vw;
        display: flex;
        flex-direction: column;
    }
    .login #boutonLog{
        width: 70%;
        margin-top: 2%;
        text-align: center;
        margin-left: 26%;
    }
    .login #inpt{
        margin-right: 15px;
    }
    .login .bouton-login{
        width: 200px;
        position: fixed;
        left: 0;
        margin-left: 15%;
    }
}
@media (max-width: 360px){
    .tous{
        width: 100vw;
    }
    #inpt{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-top: -10%;
    }
    .login #boutonLog{
        width: 90%;
        margin-top: 2%;
        margin-left: 2%;
    }
    #inpt #inputLog{
        margin-left: 2%;
    }
    #labelLog{
        margin-top: -20px;
    }
}