.demande-menu-annulation{
    /* border: 1px solid red; */
    width: 70vw;
    display: flex;
    flex-direction: row;
}
.demande-annulation{
    /* border: 1px solid blue; */
    width: 100%;
    margin-top: 10%;
}
.formulaires-demande-annulation{
    /* border: 1px solid black; */
    height: auto;
    width: 100%;
}
@media (max-width: 991px){
    .formulaires-demande-annulation{
        /* border: 1px solid black; */
        width: 66vw;
    }
    .formulaires-demande-annulation .text-demande-annulation{
        width: 90%;
        margin: 6px;
    }
}