.formulaire-inscription{
    /* border: 1px solid blue; */
    width: 40%;
    height: 60%;
    float: right;
    margin-right: 13%;
    margin-top: 6%;
}
.inscription{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
}
.logo-inscription{
    /* border: 1px solid green; */
    width: 30%;
    height: 60%;
    float: left;
    margin-left: 15%;
    margin-top: 6%;
    background-image: url(/src/images/images.jpg);
    background-size: cover;
}
.inscrit-header{
    background-color: #800000;
    font-size: 1.5em;
    text-align: left;
    margin-left: 20px;
}