.prevision{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    width: 65vw;
}
.contenue-prevision{
    /* border: 1px solid blue; */
    width: 65vw;
    height: 95vh;
}
#prevision-header{
    margin-top: 10px;
    font-size: 1.5em;
}
.formulaires-demande-prevision{
    /* border: 1px solid red; */
    width: 100%;
    height: 73vh;
    margin-top: 10%;
}
.afficher-prevision{
    /* border: 1px solid brown; */
    width: 95%;
    height: 30vh;
}
@media (max-width: 991px){
    #prevision-header{
        width: 100%;
        margin-top: 15%;
        text-align: center;
        font-size: 1.2em;
    }
    .frm-prevue{
        width: 90%;
    }
}