.avion{
    /* border: 1px solid blue; */
    width: 1000px;
    height: 90vh;
    margin-top: 10%;
    margin-left: -25%;
}
.containere{
    /* border: 1px solid red; */
    width: 900px;
    margin: 0% 0% 0% -10%;
    margin: 5%;
}
.form-group{
    /* border: 1px solid blue; */
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    margin-top: -5%;
}
.TextField{
    margin: 8px;
}
.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card{
    margin: 8px;
}
.liste-avion{
    /* border: 1px solid black; */
    float: left;
    width: 160px;
}
.liste-avion, .liste{
    font-size: 1.3em;
}
.recherche-avion{
    /* border: 1px solid red; */
    float: right;
}
.card-body{
    height: 330px;
    overflow: auto;
}
.table th{
    background-color: rgb(22, 68, 87);
    color: white;
}
.table .model-avion{
   width: 400px; 
}
.table .num-avion{
    width: 200px;
}
.table .capacite-avion{
    width: 160px;
}
.table .operations-btn{
    width: 113px;
}
.table{
    text-align: left;
}
.header{
    /* border: 1px solid red; */
    height: 8vh;
}
.operations-btn{
    display: flex;
    justify-content: space-evenly;
}