.avions{
    /* border: 1px solid red; */
}
.image-avion{
    /* border: 1px solid orange; */
    height: 30vh;
    background-image: url(/src/images/avion-vol-boeing-747-ciel-nuages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 37%;
}
.contenu-avion{
    /* border: 1px solid blue; */
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}
.header-avion{
    margin-left: 30%;
    background-color: white;
    width: 25%;
    margin-top: 3%;
}
.formulaires-avion{
    /* border: 1px solid red; */
    margin: 10px;
    width: 30%;
    background-color: rgb(245, 239, 239);
}
.formulaires-avion .form-group{
    display: flex;
    flex-direction: column;
}
.tableau-avion{
    /* border: 1px solid black; */
    width: 67%;
    margin: 10px;
    height: 45vh;
}
.affichage-avion{
  height: 36vh;
  overflow: auto;
}
.formulaire-edit{
    border-bottom: 1px solid blue;
    width: 100%;
    height: 30vh;
    background-color: white;
    position: absolute;
    left: 0;
}
.edit-input-avion{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    position: absolute;
    left: 20%;
}
.edit-input-avion .form-group{
    margin: 10px;
    margin-left: 2%;
}
.boutton-edit-avion{
    /* border: 1px solid black; */
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
@media (max-width: 992px) {
    .formulaires-avion{
        /* border: 1px solid red; */
        margin: 10px;
        width: 100%;
    }
    .tableau-avion{
        width: 100%;
        margin: 10px;
    }
    .edit-input-avion {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        left: 0;
    }
    .boutton-edit-avion{
        /* border: 1px solid black; */
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: -6px;
    }
    .formulaire-edit{
        height: 31vh;
    }
}