.annulation-liste{
    /* border: 1px solid green; */
    width: 70vw;
    height: 100vh;
    margin-left: -15%;
}
.header-annulation-liste{
    /* border: 1px solid red; */
    width: auto;
    height: 15vh;
    font-size: 1.5em;
    margin-top: 20px;
}
.toutes-liste-demandes{
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    height: 74vh;
    overflow: auto;

}
.liste-demande-client{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 30vh;
    margin: 20px;
    box-shadow: 5px 10px 18px #888888;
}
.notif-recherchre{
    /* border: 1px solid blue; */
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.notif-recherchre label{
    margin-left: 15%;
 }
 .details-liste-annulation{
    display: flex;
    flex-direction: column;
 }
@media (max-width: 992px){
    .annulation-liste{
        border: 1px solid red;
        width: 70vw;
        height: 100vh;
        margin-left: -15%;
    }
    .header-annulation-liste{
        border: 1px solid red;
        width: auto;
        height: 20vh;
        font-size: 1.5em;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
    .notif-recherchre{
        width: auto;
    }
}
@media (max-width: 768px){
    .annulation-liste{
        border: 1px solid blue;
        width: 70vw;
        height: 100vh;
        margin-left: -10%;
    }
}
@media (max-width: 600px){
    .annulation-liste{
        border: 1px solid black;
        width: 70vw;
        height: 100vh;
        margin-left: -2%;
    }
    .header-annulation-liste{
        border: 1px solid red;
        width: auto;
        height: 20vh;
        font-size: 1.2em;
        margin: 20px;
    }
    .notif-recherchre{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
    }
    .notif-recherchre label{
       margin-right: 8px;
       margin-left: 0;
    }
}