#nav-bar{
    position: fixed;
    left: 0;
    height: 100vh;
    background-color: #800000;
    width: 200px;
}
.link-menupassager{
    border-top: 1px solid red;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    margin-top: 10px;
}
.menu-item-passager{
    text-align: start;
    text-decoration: none;
    margin-top: 15px;
    color: white;
}
.footer-menu-pasager{
    border-top: 1px solid red;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    height: 26vh;
}
.tout-menu-passager{
    /* border: 1px solid brown; */
    width: 100%;
    position: fixed;
    left: 0;
    text-align: end;
    height: 10vh;
}
.personne{
    float: inline-end;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
}
#resa{
    margin-top: 40px;
}
@media (max-width: 768px){
    #nav-bar{
        position: fixed;
        left: 0;
        height: 100vh;
        background-color: #800000;
        width: 70px;
    }
    .tout-menu-passager{
        z-index: 2;
    }
    .personne{
        float: inline-end;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1%;
    }
    .personne label{
        display: none;
    }
    #sary{
        width: 60px;
        height: 50px;
        margin-top: 15%;
    }
    .link-menupassager{
        border-top: 1px solid red;
        display: flex;
        flex-direction: column;
        height: 40vh;
        width: 50px;
        margin-top: 10px;
    }
    .footer-menu-pasager{
        border-top: 1px solid red;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 50px;
        height: 26vh;
    }
    .link-menu{
        display: none;
    }
}
.menu-item-passager:is(:link, :active, :visited){
    color: white;
}

.menu-item-passager:is(:link, :active, :visited).active{
    color: blue;
    background-color: grey;
}