.resa-liste{
    /* border: 1px solid blue; */
    width: 88vw;
    height: 100vh;
    position: fixed;
    left: 10%;
    right: 10%;
}
.header-resaListe{
    /* border: 1px solid red; */
    width: 100%;
    font-size: 1.5em;
}
.rese-card{
    /* border: 1px solid orange; */
    height: auto;
    margin-top: 5%;
}
.resa-header-card{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    background-color: #1d0744;
    color: white;
}
.resa-card-bodyListe{
    height: auto;
}

@media (max-width: 768px){
    .resa-liste{
        position: fixed;
        width: 78vw;
        left: 20%;
    }
    .resa-header-card{
        display: flex;
        flex-direction: column;
    }
    body{
        overflow-x: hidden;
    }
}